{:jdbc "postgres://storm:storm@localhost:5432/events"
 :kafka-config {:zk-connect "zk1.zooniverse.org:2181,zk2.zooniverse.org:2181,zk3.zooniverse.org:2181"
                :topic "events"
                :threads 1}
 :types ["classifications"]}
