body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #18212d;
}

header {
  margin-left: 50px
}

#map {
  float: left;
  display: inline-block;
  margin-left: 20px;
}

#right {
  height: 100%;
  width: 340px;
  display: inline-block;
  float: right;
  margin-left: 20px;
  position: absolute;
  top: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #ff4040;
  text-transform: uppercase;
  font-weight: 700;
}

img.header {
  margin-top: 50px;
  margin-bottom: 60px;
}

.land {
  fill: #000;
}

.boundary {
  fill: none;
}

.graticule {
  fill: none;
}

.project {
  font-size: 24px;
  color: #fff;
  position: relative;
  top: -5px;
}

ul {
  margin-top: 0;
}

.countries { 
  margin-top: -30px;
  float: right;
  margin-left: 50px;
}

.countries ul {
  padding: 0;
  color: white;
  list-style: none;
}

.countries ul li { 
  line-height: 50px;
  font-size: 24px;
}

.legend {
  margin-left: 50px;
  margin-top: -80px;
  width: 100%;
}

.legend ul {
  display: inline-block;
}

.legend ul.left {
  padding-left: 25px;
  float: left;
}

.legend ul.right {
  float: left;
}

.classifiers {
  height: inherit;
}

.classifiers ul {
  height: inherit;
  overflow: hidden;
  list-style: none;
  padding: 0;
  position: relative;
}

.classifiers ul li {
  width: 480px;
  position: absolute;
}

.classifiers ul li span {
  display: inline-block;
  position: relative;
  top: -5px;
  z-index: 1;
}

.classifiers .image {
  position: relative;
  z-index: 1;
}

.classifiers .user {
  position: relative;
  z-index: 2;
  background: rgba(50,50,50,0.5);
  height: 50px;
  top: -60px;
}

.location {
  font-size: 14px;
  color: white;
}

.username {
  font-size: 24px;
  color: white;
}

li {
  font-size: 40px;
}

.serengeti {
  color: yellow;
}

.galaxy-zoo {
  color: purple;
}

.spacewarp {
  color: blue;
}

.notes-from-nature {
  color: #eee;
}

.planet-four {
  color: red;
}

.others {
  color: green;
}

circle {
  fill: green;
  stroke: #222;
  stroke-width: .5px;
  opacity: 50%;
}

circle.serengeti {
  fill: yellow;
}

circle.spacewarp {
  fill: blue;
}

circle.galaxy_zoo {
  fill: purple;
}

circle.notes_from_nature {
  fill: #eee;
}

circle.planet_four{
  fill: red;
}
